extends adminlayout

block content
  !=messages()
  ul.errors
     if errors
       each error, i in errors
         .alert.alert-dismissible.alert-danger
            button.close(type='button', data-dismiss='alert') ×
            #{error.msg}
  .container.well.col-lg-4.col-lg-offset-4.login
    form.form-horizontal(action='login', method='post', enctype='multipart/form-data')
      fieldset
        legend.head #{title}
        .form-group
          label.col-md-2.control-label(for='username') Name
          .col-md-10
            input#username.form-control(type='text', name='name' ,placeholder='Name')
        .form-group
          label.col-md-2.control-label(for='inputPassword') Password
          .col-md-10
            input#inputPassword.form-control(type='password', name='password' ,placeholder='Password')
        button.btn.btn-default(type='reset') Cancel
        button.btn.btn-primary(type='submit' name='submit') Submit