extends layout

block content
  !=messages()
  .header
    .container
        .row
          .col-lg-6.col-md-6.col-sm-12.col-xs-12.wow.fadeInLeft
            h1 Welcome
            | 
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut dolor vel sapien feugiat lacinia. In et felis turpis. Sed ac erat ut libero volutpat condimentum. Pellentesque ut dolor vel sapien feugiat lacinia. In et felis turpis. Sed ac erat ut libero volutpat condimentum.
            | 
            p
              | Pellentesque ut dolor vel sapien feugiat lacinia. In et felis turpis. Sed ac erat ut libero volutpat condimentum.
            | 
            |     
            ul.list-inline
              li
                a.btn.btn-trans.btn-md(href='#')  Buy Online
              |     
              li
                a.btn.btn-primary.btn-md(href='#')  Read Reviews
          | 
          | 
          .col-lg-6.col-md-6.col-sm-12.col-xs-12.wow.fadeInRight(align='center')
            img.img-responsive(src='./images/devices.png')
