doctype html
html
    head
        title Zirine: #{title}
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/animate.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-material-design.css')
        link(rel='stylesheet', href='/stylesheets/ripples.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/animate.min.css')
        

    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar          
                    a.navbar-brand(href='/') Zirine
                .collapse.navbar-collapse.navbar-responsive-collapse
                    ul.nav.navbar-nav
                        if user
                           li(class=(title=='Members Area'? 'active':''))
                             a(href='/') Members Area
                        if !user
                            li(class=(title=='Home'? 'active':''))
                              a(href='/home') Home
                            li(class=(title=='Register'? 'active':''))
                                a(href='/users/register') Register
                            li(class=(title=='Login'? 'active': ''))
                                a(href='/users/login') Login
                    ul.nav.navbar-nav.navbar-right
                          if user
                            li.dropdown
                              a.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                                span.glyphicon.glyphicon-option-vertical
                              |                  
                              ul.dropdown-menu
                                 li.profile
                                   a(href='/users/updateprofile') Profile
                                 |                   
                                 li.settings
                                   a(href='#') Settings
                                 li.divider
                                 |                   
                                 li.logout
                                   a(href='/users/logout') LogOut
        
        block content

 
    script(src='/javascripts/bootstrap.js')
    script(src='../javascripts/wow.min.js') 
    script(src='../javascripts/jquery.min.js')
    script(src='../javascripts/ripples.js')
    script(src='../javascripts/material.js')
    script(src='../javascripts/script.js')
    script(src='../javascripts/bootstrap.js')
    script(src='//fezvrasta.github.io/snackbarjs/dist/snackbar.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js')             
    script
      | new WOW().init()
    script
      | $.material.init()
