doctype html
html
    head
        title Zirine: #{title}
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/animate.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.css')
        link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')

    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar          
                    a.navbar-brand(href='#') Zirine
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        if user
                          li(class=(title=='Members Area'? 'active':''))
                             a(href='/') Members Area
                        if !user
                            li(class=(title=='Home'? 'active':''))
                              a(href='/home') Home
                            li(class=(title=='Register'? 'active':''))
                                a(href='/users/register') Register
                            li(class=(title=='Login'? 'active': ''))
                                a(href='/users/login') Login
                    ul.nav.navbar-nav.navbar-right
                        if user
                            li.dropdown
                              a.dropdown-toggle(href='#', data-toggle='dropdown')
                                span.glyphicon.glyphicon-option-vertical
                              |                  
                              ul.dropdown-menu
                                 li.category
                                   a(href='/categories/add') Add Category
                                 li.profile
                                   a(href='/users/profile') Profile
                                 |                   
                                 li.settings
                                   a(href='#') Settings
                                 |                   
                                 li.logout
                                   a(href='/users/logout') LogOut
        .container.layo
           !=messages()
           block content

        .footer
          .container
            .row
              .col-lg-4.col-md-4
                 h1 Zirine
                 | &#x9;&#x9;&#x9;&#x9;
                 p Since 2015
                 | &#x9;&#x9;&#x9;&#x9;
                 p
                 em Delivering ideas and solutions.
                 | &#x9;&#x9;&#x9;&#x9;
                 | &#x9;&#x9;&#x9;&#x9;
              .col-lg-4.col-md-4
                 h1 GET IN TOUCH:
                 | &#x9;&#x9;&#x9;&#x9;
                 p
                   i.fa.fa-phone
                   |  011111 222 333
                 | &#x9;&#x9;&#x9;&#x9;
                 p
                   i.fa.fa-envelope-o
                 |  
                 a(href='mailto:info@appname.com') info@appname.com
                 | &#x9;&#x9;&#x9;&#x9;
                 | &#x9;&#x9;&#x9;&#x9;
              .col-lg-4.col-md-4
                 h1 ABOUT US:
                 | &#x9;&#x9;&#x9;&#x9;
                 p Zirine &copy; 2015

 
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/wow.js')
    |               
    script.
      new WOW().init()
