/*body {
  padding: 50px;
  font-family: arial;
}

a {
  color: #00B7FF;
}*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* custom */
body {
  font-family: arial;
  font-size: 15px;
  /*Light Grey */
  background: #f4f4f4;
  /* Dark Grey */
  color:#666;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-bottom: 30px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-bottom: 30px;
}

.logo{
	text-align:center;
	margin:auto;
	display:block;
}


.clr{
	/* clear floats */
	clear:both;
}

ul{
	padding: 0;
	margin:0;
}

h1,h2,h3,p{
	padding: 5px 0;
	margin-bottom: 0px;
}

p{
	margin:0;
}

a{
	text-decoration: none;
}




/* Image inside the container */
.post img{
	width:50%;
	height:50%;
	margin-bottom: 20px;
}

.post{
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}
/* End Image Inside container */

/* Flash Messages */
ul.success li, ul.info li, ul.error li{
	margin:20px 0 20px 0;
	padding:15px;
	border: 1px solid transparent;
	border-radius: 5px;
	list-style:none;
}

ul.success li{
	color:#36743d;
	background:#dff0d8;
	border-color:#d6e9c6;
}

ul.info li{
	color:#31708f;
	background:#d9edf7;
	border-color:#bce8f1;
}

ul.error li{
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;;
}

/* Flash Messages end */

/*Register and login layout fix */

.login{
	margin-top:130px;
}

.login .head{
	text-align: center;
}

.register{
	margin-top: 80px;

}

.register .head{
	text-align: center;
	
}

/*NAVIGATION*/

.navbar {
 background-color:#242424;
 border-bottom:1px solid #b9b9b9;
 font-family: 'Lato', sans-serif;

}

.navbar a:hover {
 color:#ffffff !important;
 background-color:#646464 !important;
}

.navbar-header .navbar-brand {
 color:white !important;
 font-size:1.5em;
}

.navbar-default .nav li.active a{
	color:#1d1d1d !important;
}




/*HEADER*/

.header {
 padding: 140px 20px 60px;
 background: url(../images/bg.jpg) no-repeat center center fixed;
 background-size: cover;
 width: 100%;
 border-bottom: 2px solid #c9c9c9;
}

.header h1 {
 color: white;
 font-family: 'Pacifico', cursive;
 font-size: 7.5em;
}

.header p {
 color:white;
 font-size:1.3em;
}

.header .btn {
 padding: 5px 50px 5px 50px;
 border-radius: 0;
}

@media(max-width:768px) {

 .header {
  text-align:center;
  padding-top: 20%;
 }

 .header h1 {
 font-size:5em;
 }
 
 .header p {
  font-size:1em;
 }
 
 .header .btn {
  padding: 5px 12px 5px 12px;
 }
 
 .header img {
  padding-top:10%;
 }

}

/* End Header */



/* comment form */
.comment-form{
	margin:30px 0;
}

.comment{
	background: #ccc;
	padding:5px;
	border:#666 solid 1px;
	margin:15px 0 20px;
}

.comment-name{
	font-weight: bold;
}
